/* Geral*/
.btn-book{
	color:white;
	background:#f8965d;
}

/* header */
.header-titulo {
	background:#333;
	color:white;
	padding: 0px;
}
.header-titulo h1 {
	font-size: 38px;
}
.dropdown-menu-titulo {
	margin-top: 38px;
	
}
.logo-principal a {
	color: white;
	text-decoration: none;
}

.logo-principal a:hover {
	color: white;	
}

.btn-menu-titulo {
	background:#333;
	color: white;
}

.btn-menu-titulo:hover {
	background:#333;
	color: #f8965d;
}
.glyphicon-font-menu {
	margin-top: -18px;
	font-size: 30px;
}

/* Footer */
footer {
    margin-top: 38px;
}

/* Principal */
.dados-livro {
	margin-left: 10px;
}
.principal-categoria{
	color: #f8965d;
}
.thumbnail>img {
	height: 300px;
}

/* Admin-Menu */
.admin-menu-item {
	color: #333;
	text-decoration: underline;
}

.admin-menu-item:hover {
	color: #f8965d;
	text-decoration: underline;
}


