<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
		<!-- Connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/bookstore</property>
		<property name="hibernate.connection.username">usuario do banco</property>
		<property name="hibernate.connection.password">senha do banco</property>
		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Print executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Annotated entity classes -->
		<mapping class="br.com.fbscript.bookstore.model.Livro"/>
		<mapping class="br.com.fbscript.bookstore.model.Usuario"/>
		<mapping class="br.com.fbscript.bookstore.model.Cupom"/>
		<mapping class="br.com.fbscript.bookstore.model.Carrinho"/>
		<mapping class="br.com.fbscript.bookstore.model.Produto"/>
	</session-factory>
</hibernate-configuration>